<footer>
    <div class="container">
        <footer class="py-3 my-4">
          <p class="text-center text-muted">Copyright © <%= new Date().getFullYear() %></p>
        </footer>
      </div>
</footer>

</body>
</html>